:root {
  --default-text-color: black;
  --default-background-color: white;
  --secondary-background-color: #fcbe49;
  --heading-font: Rammetto One, sans-serif;
  --paragraph-font: "Gabriela", serif;
}

header img {
  display: block;
  margin: 0 auto;
}

.angel-profile-pic {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-family: var(--heading-font);
}

h1 {
  font-style: italic;
  font-family: var(--paragraph-font);
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: var(--heading-font);
  font-style: italic;
}

.faq-para {
  margin: 20px;
}
main .learn-more-link {
  color: black;
  text-decoration: none;
}

main .learn-more-box {
  text-align: center;
}

.faqs {
  background-image: linear-gradient(#91ca62, #2fadc9);
  color: black;
  margin: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}

p {
  font-family: var(--paragraph-font);
}

.para {
  font-family: var(--paragraph-font);
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

main {
  margin: 15px;
  margin-bottom: 15px;
  color: var(--default-text-color);
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.sub-heading {
  color: var(--default-text-color);
  margin-top: 48px;
  margin-bottom: 48px;
}

main .sub-heading {
  color: var(--default-text-color);
  margin-top: 48px;
  margin-bottom: 48px;
}

.calendly-image {
  display: block;
  margin: 30px auto;
  border-radius: 20px;
}

.reveiws {
  text-align: center;
  margin: 15px;
  padding-bottom: 10px;
  color: var(--default-text-color);
  background-color: #baa1cf;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.speech-bubble {
  max-width: 70%;
  background-color: var(--secondary-background-color);
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.box3 {
  margin: 50px auto;
  border-radius: 15px;
  padding: 20px;
  position: relative;
}

.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid hsl(39, 97%, 64%);
  border-right: 15px solid transparent;
  border-top: 15px solid #fcbe49;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #fcbe49;
  border-top: 15px solid #fcbe49;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.by-link {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.by-link:hover {
  text-decoration: underline;
}

footer {
  background-color: #2fadc9;
  text-align: center;
  color: whitesmoke;
  margin: 0px 15px 15px 15px;
  padding: 20px;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.social-link-wrapper {
  font-size: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px;
}

.social-link-wrapper a {
  color: white;
}

.Contact-icon {
  text-align: center;
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #cfdee6;
}

.cards-section {
  padding: 10px;
  margin: 15px;
  margin-top: 15px;
  color: var(--default-text-color);
  background-image: linear-gradient(#2fadc9, #91ca62);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.by-line {
  font-size: 12px;
  margin-top: 20px;
}

@media (max-width: 960px) {
  header {
  }
  main {
    margin: 15px;
    text-align: center;

    border-radius: 10px;
  }
  .social-link-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
